In [3]:
import pandas as pd

In [31]:
df = pd.read_csv("ocorrencia_2010_2020.csv", parse_dates=['ocorrencia_dia'], dayfirst=True)
df.head()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,03/01/2010,12:00:00,1
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,03/01/2010,11:05:00,1
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,03/01/2010,03:00:00,1
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,04/01/2010,17:30:00,1
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,05/01/2010,19:25:00,1

In [5]:
df.loc[1, 'ocorrencia_cidade']

'BELÉM'

In [7]:
df.loc[1:3]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,03/01/2010,11:05:00,1
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,03/01/2010,03:00:00,1
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,04/01/2010,17:30:00,1

In [8]:
df.loc[[10,40]]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
10,39789,39789,INCIDENTE,SÃO PEDRO DO SUL,RS,****,10/01/2010,21:30:00,1
40,39158,39158,INCIDENTE,BELÉM,PA,****,28/01/2010,16:00:00,0

In [10]:
df.loc[:,'ocorrencia_cidade']

0           RIO DE JANEIRO
1                    BELÉM
2           RIO DE JANEIRO
3       LUCAS DO RIO VERDE
4                  PELOTAS
               ...
5747              CAMPINAS
5748     LAGOA DA CONFUSÃO
5749        RIO DE JANEIRO
5750             VICENTINA
5751                   -43
Name: ocorrencia_cidade, Length: 5752, dtype: object

In [11]:
df.codigo_ocorrencia.is_unique

True

In [14]:
df.set_index('codigo_ocorrencia', inplace=True)

In [15]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
codigo_ocorrencia,,,,,,,,
40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,03/01/2010,12:00:00,1
40349,40349,INCIDENTE,BELÉM,PA,SBBE,03/01/2010,11:05:00,1
40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,03/01/2010,03:00:00,1
39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,04/01/2010,17:30:00,1
40324,40324,INCIDENTE,PELOTAS,RS,SBPK,05/01/2010,19:25:00,1

In [16]:
df.loc[40324]

codigo_ocorrencia2               40324
ocorrencia_classificacao     INCIDENTE
ocorrencia_cidade              PELOTAS
ocorrencia_uf                       RS
ocorrencia_aerodromo              SBPK
ocorrencia_dia              05/01/2010
ocorrencia_hora               19:25:00
total_recomendacoes                  1
Name: 40324, dtype: object

In [17]:
df.reset_index(drop=True, inplace=True)

In [18]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,03/01/2010,12:00:00,1
1,40349,INCIDENTE,BELÉM,PA,SBBE,03/01/2010,11:05:00,1
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,03/01/2010,03:00:00,1
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,04/01/2010,17:30:00,1
4,40324,INCIDENTE,PELOTAS,RS,SBPK,05/01/2010,19:25:00,1

In [19]:
df.loc[0,'ocorrencia_aerodromo'] = ''

In [20]:
df.head(1)

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,,03/01/2010,12:00:00,1

In [21]:
df.loc[1] = 20

In [22]:
df.head(2)

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,,03/01/2010,12:00:00,1
1,20,20,20,20,20,20,20,20

In [23]:
df.loc[:, 'total_recomendacoes'] = 10

In [24]:
df

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,,03/01/2010,12:00:00,10
1,20,20,20,20,20,20,20,10
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,03/01/2010,03:00:00,10
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,04/01/2010,17:30:00,10
4,40324,INCIDENTE,PELOTAS,RS,SBPK,05/01/2010,19:25:00,10
...,...,...,...,...,...,...,...,...
5747,79804,INCIDENTE,CAMPINAS,SP,SBKP,29/12/2020,19:00:00,10
5748,79757,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,TO,****,30/12/2020,18:30:00,10
5749,79802,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,30/12/2020,00:54:00,10
5750,79756,INCIDENTE GRAVE,VICENTINA,MS,****,31/12/2020,09:00:00,10
5751,79844,INCIDENTE,-43,37,RJ,BRASIL,SBJR,10

In [25]:
df['ocorrencia_uf_bkp'] = df.ocorrencia_uf

In [26]:
df

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,,03/01/2010,12:00:00,10,RJ
1,20,20,20,20,20,20,20,10,20
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,03/01/2010,03:00:00,10,RJ
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,04/01/2010,17:30:00,10,MT
4,40324,INCIDENTE,PELOTAS,RS,SBPK,05/01/2010,19:25:00,10,RS
...,...,...,...,...,...,...,...,...,...
5747,79804,INCIDENTE,CAMPINAS,SP,SBKP,29/12/2020,19:00:00,10,SP
5748,79757,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,TO,****,30/12/2020,18:30:00,10,TO
5749,79802,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,30/12/2020,00:54:00,10,RJ
5750,79756,INCIDENTE GRAVE,VICENTINA,MS,****,31/12/2020,09:00:00,10,MS
5751,79844,INCIDENTE,-43,37,RJ,BRASIL,SBJR,10,37

In [27]:
df.loc[df.ocorrencia_uf == 'SP', ['ocorrencia_classificacao']] = 'GRAVE'

In [32]:
df

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,03/01/2010,12:00:00,1
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,03/01/2010,11:05:00,1
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,03/01/2010,03:00:00,1
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,04/01/2010,17:30:00,1
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,05/01/2010,19:25:00,1
...,...,...,...,...,...,...,...,...,...
5747,79804,79804,INCIDENTE,CAMPINAS,SP,SBKP,29/12/2020,19:00:00,0
5748,79757,79757,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,TO,****,30/12/2020,18:30:00,0
5749,79802,79802,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,30/12/2020,00:54:00,0
5750,79756,79756,INCIDENTE GRAVE,VICENTINA,MS,****,31/12/2020,09:00:00,0
5751,79844,79844,INCIDENTE,-43,37,RJ,BRASIL,SBJR,NÃO

In [30]:
df.loc[df.ocorrencia_uf == 'SP']

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
11,40069,GRAVE,SÃO PAULO,SP,SBMT,10/01/2010,14:50:00,10,SP
16,39809,GRAVE,SÃO PAULO,SP,****,15/01/2010,15:00:00,10,SP
18,39828,GRAVE,SANTOS,SP,****,15/01/2010,17:45:00,10,SP
26,39847,GRAVE,SOROCABA,SP,****,20/01/2010,13:10:00,10,SP
27,39768,GRAVE,CAMPINAS,SP,****,21/01/2010,20:45:00,10,SP
...,...,...,...,...,...,...,...,...,...
5704,79739,GRAVE,SÃO PAULO,SP,SBSP,03/12/2020,14:42:00,10,SP
5705,79705,GRAVE,SOROCABA,SP,SDCO,04/12/2020,15:30:00,10,SP
5715,79718,GRAVE,SÃO PAULO,SP,SBMT,11/12/2020,13:50:00,10,SP
5742,79800,GRAVE,SÃO PAULO,SP,SBMT,28/12/2020,10:15:00,10,SP
5747,79804,GRAVE,CAMPINAS,SP,SBKP,29/12/2020,19:00:00,10,SP

Ocorrencia_uf
**
ocorrencia_aerodromo
###!
####
****
*****
ocorrencia_hora
NULL

In [33]:
df.head()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,03/01/2010,12:00:00,1
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,03/01/2010,11:05:00,1
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,03/01/2010,03:00:00,1
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,04/01/2010,17:30:00,1
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,05/01/2010,19:25:00,1

In [35]:
df.loc[df.ocorrencia_aerodromo == '****', ['ocorrencia_aerodromo']] = pd.NA

In [36]:
df.head()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,<NA>,03/01/2010,12:00:00,1
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,03/01/2010,11:05:00,1
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,03/01/2010,03:00:00,1
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,04/01/2010,17:30:00,1
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,05/01/2010,19:25:00,1

In [37]:
df.replace(['**','###!','####','****','*****','NULL'], pd.NA, inplace=True)

C:\Users\gabri\anaconda3\lib\site-packages\pandas\core\missing.py:49: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask = arr == x
C:\Users\gabri\anaconda3\lib\site-packages\pandas\core\missing.py:60: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= arr == x

In [38]:
df.replace(['**','###!','####','****','*****','NULL'], pd.NA, inplace=True)

In [42]:
df.isna().sum()

codigo_ocorrencia              0
codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  0
ocorrencia_aerodromo        2176
ocorrencia_dia                 1
ocorrencia_hora                6
total_recomendacoes            1
dtype: int64

In [44]:
df.isnull().sum()

codigo_ocorrencia              0
codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  0
ocorrencia_aerodromo        2176
ocorrencia_dia                 1
ocorrencia_hora                6
total_recomendacoes            1
dtype: int64

In [47]:
df.fillna(10, inplace=True)

In [48]:
df.isnull().sum()

codigo_ocorrencia           0
codigo_ocorrencia2          0
ocorrencia_classificacao    0
ocorrencia_cidade           0
ocorrencia_uf               0
ocorrencia_aerodromo        0
ocorrencia_dia              0
ocorrencia_hora             0
total_recomendacoes         0
dtype: int64

In [49]:
df.head()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,10,03/01/2010,12:00:00,1
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,03/01/2010,11:05:00,1
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,03/01/2010,03:00:00,1
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,10,04/01/2010,17:30:00,1
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,05/01/2010,19:25:00,1

In [50]:
df.replace([10], pd.NA, inplace=True)

In [52]:
df.isnull().sum()

codigo_ocorrencia              0
codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  0
ocorrencia_aerodromo        2176
ocorrencia_dia                 1
ocorrencia_hora                6
total_recomendacoes            1
dtype: int64

In [55]:
df.fillna(value={'total_recomendacoes':10}, inplace=True)

In [56]:
df.isnull().sum()

codigo_ocorrencia              0
codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  0
ocorrencia_aerodromo        2176
ocorrencia_dia                 1
ocorrencia_hora                6
total_recomendacoes            0
dtype: int64

In [57]:
df['total_recomendacoes_bkp'] = df.total_recomendacoes

In [58]:
df.head()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,total_recomendacoes_bkp
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,<NA>,03/01/2010,12:00:00,1,1
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,03/01/2010,11:05:00,1,1
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,03/01/2010,03:00:00,1,1
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,04/01/2010,17:30:00,1,1
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,05/01/2010,19:25:00,1,1

In [60]:
df.drop(['total_recomendacoes'], axis=1, inplace=True)

In [61]:
df.head()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes_bkp
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,<NA>,03/01/2010,12:00:00,1
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,03/01/2010,11:05:00,1
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,03/01/2010,03:00:00,1
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,04/01/2010,17:30:00,1
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,05/01/2010,19:25:00,1

In [62]:
df.dropna()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes_bkp
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,03/01/2010,11:05:00,1
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,03/01/2010,03:00:00,1
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,05/01/2010,19:25:00,1
6,40215,40215,INCIDENTE,COARI,AM,SBUY,07/01/2010,18:40:00,1
8,39156,39156,INCIDENTE GRAVE,CASCAVEL,PR,SBCA,10/01/2010,23:15:00,2
...,...,...,...,...,...,...,...,...,...
5743,79824,79824,ACIDENTE,RIO PARANAÍBA,MG,SNRP,28/12/2020,17:00:00,0
5746,79769,79769,INCIDENTE GRAVE,MANOEL URBANO,AC,SIMB,29/12/2020,18:30:00,0
5747,79804,79804,INCIDENTE,CAMPINAS,SP,SBKP,29/12/2020,19:00:00,0
5749,79802,79802,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,30/12/2020,00:54:00,0
5751,79844,79844,INCIDENTE,-43,37,RJ,BRASIL,SBJR,NÃO

In [63]:
df

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes_bkp
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,<NA>,03/01/2010,12:00:00,1
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,03/01/2010,11:05:00,1
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,03/01/2010,03:00:00,1
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,04/01/2010,17:30:00,1
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,05/01/2010,19:25:00,1
...,...,...,...,...,...,...,...,...,...
5747,79804,79804,INCIDENTE,CAMPINAS,SP,SBKP,29/12/2020,19:00:00,0
5748,79757,79757,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,TO,<NA>,30/12/2020,18:30:00,0
5749,79802,79802,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,30/12/2020,00:54:00,0
5750,79756,79756,INCIDENTE GRAVE,VICENTINA,MS,<NA>,31/12/2020,09:00:00,0
5751,79844,79844,INCIDENTE,-43,37,RJ,BRASIL,SBJR,NÃO

In [64]:
df.dropna(subset=['ocorrencia_uf'])

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes_bkp
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,<NA>,03/01/2010,12:00:00,1
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,03/01/2010,11:05:00,1
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,03/01/2010,03:00:00,1
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,04/01/2010,17:30:00,1
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,05/01/2010,19:25:00,1
...,...,...,...,...,...,...,...,...,...
5747,79804,79804,INCIDENTE,CAMPINAS,SP,SBKP,29/12/2020,19:00:00,0
5748,79757,79757,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,TO,<NA>,30/12/2020,18:30:00,0
5749,79802,79802,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,30/12/2020,00:54:00,0
5750,79756,79756,INCIDENTE GRAVE,VICENTINA,MS,<NA>,31/12/2020,09:00:00,0
5751,79844,79844,INCIDENTE,-43,37,RJ,BRASIL,SBJR,NÃO

In [66]:
df.drop_duplicates(inplace=True)